.main-content {
    max-width: 75%;
    margin: 20px auto;
    border: 1px solid var(--color-gray-300);
    border-radius: 15px;
}

.main-content-title {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--color-gray-300);
    background-color: var(--color-gray-50);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-content-title h2 {
    color: var(--color-gray-800);
    font-size: 1.1rem;
}

.main-content-title i {
    font-size: 1.25rem;
    padding: 3px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    background-color: var(--color-gray-900);
    border-radius: 50%;
    margin: 10px 10px;
}

.main-content-title h2:hover {
    color: var(--color-primary-600);
    text-decoration: underline;
}

.main-content-text {
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
}

.main-content-p {
    padding: 10px 15px;
    text-align: justify;
    line-height: 1;
    color: var(--color-gray-900);
}

.main-content-p span {
    font-weight: bold;
    color: var(--color-primary-600);
}

.main-content-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 75%;
    height: auto;
    margin: 10px auto;
    /* border: 1px solid var(--color-gray-300); */
    border-radius: 10px;
}

.main-content-img-p {
    padding: 0 15px 10px 15px;
    text-align: justify;
    font-size: 0.8rem;
    color: var(--color-gray-700);
    font-style: italic;
}
